@page
@{
}

<div class="title">
    <p>Orders</p>
    <button>Add+</button>
</div>

    

<div class="box-container">
    <div class="categories-box">
        <div class="category-name">
            <div class="img">
                <img src="" alt="shekil">
            </div>
            <p class="productName">Product Name: Corek</p>
            <p class="customerName">Customer Name: Food</p>
            <p class="productPrice">Product Price: 123</p>
            <p class="orderDate">Order Date: 12.12.2012</p>
        </div>
    </div>
</div>