@page
@{
}

<div class="title">
    <p>Customers</p>
    <button>Add+</button>
</div>

<div class="box-container">
    <div class="categories-box">
        <div class="category-name">
            <p class="customerName">Customer Name: Zilish</p>
            <p class="customerEmail">Customer Email: zilishiz@code.edu.az</p>
        </div>
    </div>
</div>